/*Custom Stylesheet for roneilla.com*/
/* Global CSS */

@import url("https://use.typekit.net/wiz3scy.css");
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,700&display=swap');

/*
font-family: 'Roboto Mono', monospace;
font-family: 'aktiv-grotesk', sans-serif;
*/

* {}

body {
    margin: 0;
    padding: 0;
    font-family: 'aktiv-grotesk', sans-serif;
}

h1 {
    font-size: 3rem;
    font-weight: 400;
}

h2 {
    font-size: 2rem;
    font-weight: 400;
}

h3 {
    font-size: 1.5rem;
    font-weight: 400;

}

h4 {
    font-size: 1rem;
    font-weight: 400;
    line-height: 2rem;
}

p {
    font-size: 1rem;
}


.bold {
    font-weight: 500;
}

.text-mono-up {
    font-family: 'Roboto Mono', monospace;
    text-transform: uppercase;
}

.text-mono {
    font-family: 'Roboto Mono', monospace;
}

.text-mono-bold {
    font-family: 'Roboto Mono', monospace;
    font-weight: 700;
}

.center {
    text-align: center;
}

/*
#sketch-container {
    transition: 2s linear ease;
}
*/

/* Navigation */

.nav-bar {
    width: 100%;
    height: 60px;
    /*    border-bottom: 1px solid #000;*/
}

.nav-option {
    padding: 20px 0;
    font-family: 'Roboto Mono', monospace;
    text-transform: uppercase;
    font-size: 1em;
}

.left-nav {
    float: left;
}

.right-nav {
    float: right;
}

.right-nav ul {
    display: inline-block;
}

.right-nav ul li {
    display: inline-block;
    margin: 0 1rem;
}


a {
    text-decoration: none;
    color: #000;
}

a:hover {
    color: #000;
    text-decoration: underline;
}



/* Header */

.header-container {
    width: 100%;
    float: left;
    padding: 5vh 0;
    /*
    border-left: 1.5px solid #000;
    background-color: rgba(0, 0, 0, 0.05);
*/
    margin: 5vh 0;
    color: #000;
    font-weight: 400;
}

.header-title {
    font-size: 2.5rem;

}

.header-description {
    font-size: 1.5rem;
    margin: 1rem 0 3rem 0;
}

.header-link {
    font-size: 1rem;
    margin: 1rem 0;
}

.header-link:hover {
    text-decoration: underline;
    cursor: pointer;
}

/* Work */

.work-wrapper {
    border-top: 1px #000 solid;
    float: left;
    padding-top: 3rem;
}

.filter-menu {
    width: 100%;
    float: left;
    margin: 1rem 0;
    font-weight: 400;
}

.filter-option {
    font-family: 'Roboto Mono', monospace;
    /*    text-transform: uppercase;*/
    float: left;
    margin-right: 2rem;
    color: #999;
    cursor: pointer;
    transition: 0.5s ease;
}

.filter-option:hover {
    color: #000;
}

.filter-option:active {
    text-decoration: underline;
}

.filter-option.active {
    font-weight: 400;
    text-decoration: underline;
    color: #000;
}

.mobile-text-left {
    float: left;
}

.mobile-text-right {
    float: right;
}

.card {
    width: 100%;
    border: 0;
    height: 500px;
    object-fit: contain;
    float: left;
}

.card-img {
    border-radius: 0;
    object-fit: cover;
    height: 500px;

}

.card-title {
    color: #000;
    font-size: 1rem;
    width: 50%;
    float: left;
}

.work-section {
    margin: 2rem 0;
    float: left;
    cursor: pointer;
    display: none;
}

.work-section-show {
    display: block;
    transition: 0.5 ease-in-out;
}

.lab-section {
    display: none;
}

.lab-section-show {
    display: block;
    transition: 0.5 ease-in-out;
}

.card-img-overlay {
    opacity: 1;
    transition: .5s ease-in-out;
}

.card-img-overlay-lab {
    opacity: 0;
    transition: .5s ease-in-out;
    background-color: rgba(255, 255, 255, 0.5);
}

.card:hover .card-img-overlay {
    opacity: 1;
    transition: .5s ease-in-out;
}

/* Footer */

.footer-text {
    width: 100%;
    margin: 0 0 2rem 0;
    text-align: left;
    font-size: 1.25rem;
}

.email-link {
    text-decoration: underline;
}

.social-links {
    float: right;
}

.copyright {
    margin-top: 20px;
    text-align: right;
    float: right;
    font-family: 'Roboto Mono', monospace;
}

.social-icon {
    width: 30px;
    height: auto;
    margin: 2em 1rem 2rem 1rem;
    transition: 0.25s ease;
}

.social-icon:hover {
    opacity: 0.5;
}

footer {
    border-top: 1px solid #000;
    padding-top: 50px;
    margin: 100px 0 50px 0;
    height: 300px;
    float: left;
    width: 100%;
    font-weight: 400;
}

.footer-section {
    width: 50%;
    float: left;
}

/* Project */

.img {
    width: 100%;
    object-fit: cover;
    height: 500px;
    float: left;
    margin-bottom: 3rem;
}

.img-med {
    width: 30%;
    object-fit: cover;
    height: 500px;
    margin: 0 1.5%;
    float: left;
}

#doodle-card,
#doodle-img {
    height: 600px;
}

#doodle-overlay {
    margin: 1.5rem 0;
    height: 600px;
}

.img-cvr {
    width: 100%;
    object-fit: cover;
    float: left;
    margin: 1.5rem 0;
}

.img-ctn {
    width: 100%;
    object-fit: contain;
    float: left;
    margin: 1.5rem 0;
}

.img-ctn-med {
    width: 50%;
    object-fit: contain;
    float: left;
    margin: 1.5rem 0;
}

.img-ctn-header {
    width: 100%;
    object-fit: cover;
    height: 400px;
    float: left;
    margin: 1.5rem 0;
}

.img-ctn-med-ctr {
    width: 50%;
    object-fit: contain;
    float: left;
    margin: 1.5rem 25%;
}

.img-ctn-sm {
    width: 20%;
    object-fit: contain;
    float: left;
    margin: 1.5rem 2.5%;
}

.project-header-wrapper {
    margin: 50px 0;
    width: 100%;
    float: left;
}

.project-details {
    margin-top: 25px;
}

.project-header-title {
    margin-bottom: 20px;
    font-weight: 400;
}

.project-section-sm {
    width: 30%;
    float: left;
}

.project-section-med {
    margin-left: 5%;
    width: 65%;
    float: left;
}

.project-section {
    width: 100%;
    float: left;
    margin: 50px 0;
}

.project-callout {
    padding: 5rem;
    margin: 3rem 0;
    border: 1px #333 solid;
    background-color: rgba(0, 0, 0, 0.05);
    float: left;
    color: #333;
}

.callout-title {
    text-align: center;
    margin: 0 auto;
    font-size: 1.25rem;
}

.callout-heading {
    font-size: 2rem;
    line-height: 4rem;
    margin: 1.5rem auto 0 auto;
    text-align: center;
    font-weight: 400;

}

.project-description {
    font-size: 1.5rem;
    line-height: 3.25rem;
    font-weight: 400;
}

.project-section-wrapper {
    margin: 50px 0;
    float: left;
    width: 100%;
}


.section-paragraph {
    font-size: 1.25rem;
    line-height: 2.5rem;
    font-weight: 400;
}

.section-title {
    line-height: 3rem;
}

.section-subheading {
    font-size: 1.25rem;
    margin-top: 2.5rem;
}

.project-gallery {
    margin: 6rem 0;
    float: left;
}

/*
.section-wrapper {
    float: left;
    width: 65%;
}
*/

#bridge-gallery {
    width: 100%;
    float: left;
}

#bridge-section-1 {
    width: 45%;
    float: left;
    margin-left: 5%;
}

/* Info page */

.about-container {
    margin-top: 50px;
    width: 100%;
    float: left;
}

#about-img {
    width: 35%;
    float: left;
}

#about-text {
    font-size: 1.25rem;
    line-height: 3rem;
    width: 60%;
    margin-left: 5%;
    float: left;
    padding: 0 3rem;
    font-weight: 400;
}

.clickable {
    text-decoration: underline;
}

.clickable:hover {
    color: #666;
    text-decoration: underline;

}

.mobile-text {
    display: none;
}

/* Lab */

.card-lab,
.card-img-lab {
    height: 300px;
}

.card-img-top {
    height: 300px;
    object-fit: cover;
}

.card-img-overlay .text {
    color: #101010;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: 'Roboto Mono', monospace;
}

#filter-menu-lab {
    margin-bottom: 2rem;
}


/* Media Queries */
@media (max-width: 575.98px) {
    .header-container {
        margin: 5vh 0;
    }

    .header-title {
        font-size: 2rem;
    }

    .header-description {
        font-size: 1.25rem;
    }

    .card,
    .card-img,
    .card-img-top {
        height: 225px;
    }

    .work-section {
        margin: 1rem 0;
    }

    .social-icon {
        width: 25px;
        margin: 1.5rem 0.75rem;
    }

    footer {
        margin-top: 50px;
    }

    .mobile-text {
        display: block;
    }

    /*
    .card-img-overlay {
        opacity: 1;
        background: rgba(255, 255, 255, 0.3);
    }
*/

    .project-callout {
        padding: 3rem;
    }

    /*
    .left-nav,
    .right-nav {
        
        float: left;
    }
*/

    .desktop-nav {
        display: none;
    }

    .mobile-nav {
        display: block;
    }


    .right-nav ul {
        padding-left: 0;
        text-align: center;
        width: 100%;
        margin-bottom: 10px;
    }

    .nav-option {
        padding: 20px 0;
    }


    .img {
        height: 300px;
        margin-bottom: 0;
    }

    .project-header-wrapper {
        margin: 10px 0;
    }

    .project-header-title {
        font-size: 2.5rem;
    }

    .callout-title {
        font-size: 1rem;
    }

    .callout-heading {
        font-size: 1.5rem;
        line-height: 3rem;
    }

    #doodle-card,
    #doodle-img,
    #doodle-overlay {
        height: 200px;
    }

    .mobile-text {
        display: block;
        padding: 10px 0;
        font-family: 'Roboto Mono', monospace;
    }

    .card {
        margin: 20px 0;
    }

    .about-container {
        margin-top: 10px;
    }

    #about-img {
        width: 80%;
        margin: 0 10%;
    }

    #about-text {
        width: 100%;
        padding: 2rem;
        margin: 0 auto;
        font-size: 1rem;
        line-height: 2rem;
    }

    .card-img-overlay,
    .card-img-overlay .text {
        display: none;
    }

}

@media (min-width: 375px) and (max-width: 576px) {
    .img-med {
        width: 30%;
        height: 175px;
        margin: 0rem 1.5%;
    }

}

@media (min-width: 576px) {
    .mobile-nav {
        display: none;
    }


    .mobile-text {
        display: none;
    }
}

@media (min-width: 576px) and (max-width: 768px) {
    .header-container {
        margin: 5vh 0;
    }

    .img-med {
        width: 30%;
        height: 200px;
        margin: 2rem 1.5%;
    }
}

@media (max-width: 769px) {

    .filter-option {
        width: 100%;
        margin: 0.25rem 0;
    }

    .project-description {
        font-size: 1.25rem;
        line-height: 2.5rem;
    }

    .project-gallery {
        margin: 0;
    }

    .section-subheading {
        margin-top: 2rem;
    }

    .project-section-med,
    .project-section-sm {
        margin-top: 25px;
    }

}

@media (max-width: 991.98px) {

    .footer-section {
        width: 100%;
        text-align: center;
    }

    .copyright {
        text-align: center;
        float: none;

    }

    .social-links {
        float: none;
    }

    .footer-text {
        width: 100%;
        font-size: 1rem;
    }

    .project-section-sm {
        width: 100%;
        float: left;
    }

    .project-section-med {
        width: 100%;
        float: left;
        margin: 0;
    }

    .project-header-title {
        margin-top: 2rem;
    }

    .project-section {
        margin-top: 10px;
    }
}

@media (min-width: 769px) and (max-width: 991px) {
    .img-med {
        width: 100%;
        height: 700px;
        margin: 2rem 0;
    }

    .project-section-med {
        margin: 50px 0 0 0;
    }
}

@media (max-width: 1199.98px) {}
