/*

Custom CSS for my portfolio
roneilla.com/design


Colors:
#FCFBF9 - cream
#2FD09A - mint 
#3C566F - dark blue
#6387A5 - blue
#F2F2F2 - grey
#24B3E0 - teal
#11487e - darker blue


Fonts:
font-family: 'Roboto Mono', monospace;
font-family: 'Roboto', sans-serif;
*/

body {
    margin: 0;
/*        background-color: #DC4379;*/
    background-color: #191919;
    min-width: 370px;
    max-width: 1000px;
    margin: 0 auto;
}

nav {
    width: 100%;
    padding: 20px;
    float: left;
}

.nav-link {
    font-family: 'Roboto Mono', monospace;
    text-transform: uppercase;
    float: left;
    text-decoration: none;
    color: #f2f2f2;
    padding: 0.5rem;
}

.nav-link:hover {
    /*    background-color: #f2f2f2;*/
    color: #eee;
    text-decoration: underline;
    box-sizing: border-box;
}


.right {
    float: right;
}

.header {
    padding: 100px 20px;
    float: left;
    width: 100%;
}

.h1 {
    font-weight: 400;
    font-family: 'Roboto Mono', monospace;
    font-size: 3rem;
    color: #f2f2f2;
    line-height: 5rem;
}

.h2 {
    font-weight: 500;
    font-family: 'Roboto Mono', monospace;
    font-size: 1.5rem;
    color: #f2f2f2;
}

.h3 {
    font-weight: 400;
    font-family: 'Roboto Mono', monospace;
    font-size: 1rem;
    color: #f2f2f2;
}


.about-h1 {
    font-weight: 400;
    font-family: 'Roboto Mono', monospace;
    font-size: 3.5rem;
    color: #f2f2f2;
    line-height: 7rem;
}


.about-p {
    font-weight: 400;
    font-family: 'Roboto Mono', monospace;
    font-size: 1.25rem;
    color: #f2f2f2;
    line-height: 3rem;
    width: 90%;
    margin: 30px 0;
}

.portfolio-gallery,
.container {
    padding: 20px;
}

.card {
    border-radius: 0;
    border: 0;
}

.card-img {
    position: relative;
    border-radius: 0;
}

.image {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #2FD09A;
}

.card-img:hover .overlay {
    opacity: 1;
}

.text {
    color: #101010;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: 'Roboto Mono', monospace;
}

.card-img-top {
    border-radius: 0;
}

.social-container {
    width: 100%;
    float: left;
    text-align: center;
    margin: 50px 0 50px 0;
}

.social-gallery {
    width: 50%;
    float: left;
}

.social-icons {
    width: 2rem;
    margin: 1rem 1.5rem;
    vertical-align: middle;
}

.social-icons:hover, .social-link:hover {
    opacity: 0.6;
}


.h3 a {
    text-decoration: underline;
    font-weight: 400;
    font-family: 'Roboto Mono', monospace;
    font-size: 1rem;
    color: #f2f2f2;

}

.social-title {
    margin-bottom: 2rem;
    font-weight: 500;
    font-family: 'Roboto Mono', monospace;
    font-size: 1.25rem;
    color: #f2f2f2;
    line-height: 3rem;
    text-align: left;
    width: 50%;
    float: left;
}

.social-link {
    margin: 1.5rem 0;
}
.footer-text {
    font-size: 1rem;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    color: #f2f2f2;
    padding: 20px 0;
}

@media (max-width:767.98px) {

    .social-title,
    .social-gallery {
        width: 100%;
    }
}
