.container {
    margin-left: 150px;
    width: 85%;
    max-width: 1400px;
    min-width: 800px;
}

.header {
    height: 100vh;
    padding-top: 300px;
}

.header-intro {
    margin-bottom: 50px;
}

.gallery-section {
    margin: 100px 0;
    width: 100%;
    float: left;
}

.gallery-img {
    width: 70%;
    max-width: 800px;
    min-width: 400px;
    float: left;
}

.gallery-caption {
    width: 30%;
    float: left;
    min-width: 300px;
    max-width: 500px;
    margin-top: 100px;
    padding-left: 50px;
}
